In [51]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %manage_spark  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %popd  %pprint  %precision  %profile  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %spark  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%spark  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [52]:
%load_ext sparkmagic.magics

The sparkmagic.magics extension is already loaded. To reload it, use:
  %reload_ext sparkmagic.magics

In [53]:
%manage_spark

MagicsControllerWidget(children=(Tab(children=(ManageSessionWidget(children=(HTML(value='<br/>'), HBox(childre…

Starting Spark application

SparkSession available as 'spark'.

In [54]:
%%spark -s testing -c sql -o localvar 
show databases

  databaseName
0      default

In [49]:
%%spark -s meow -c sql -o localvar 
create table newtable(c1 string)

Empty DataFrame
Columns: []
Index: []

In [56]:
%%spark -s testing -c sql -o localvar 
show tables

  database                tableName  isTemporary
0  default  all_blocks_parquet_hive        False
1  default       all_blocks_sparkie        False
2  default                customers        False
3  default                 newtable        False
4  default                sample_07        False
5  default                sample_08        False
6  default                   table1        False
7  default                 web_logs        False

In [5]:
%%spark -s sess -c sql -o localvar 
select * from all_blocks_parquet_hive

        gasused
0     7557294.0
1     1939588.0
2     2658963.0
3     6811648.0
4      864344.0
5      164544.0
6     1774336.0
7      213872.0
8      151690.0
9     7995566.0
10     511310.0
11    7996031.0
12    7970702.0
13    1556179.0
14    1316715.0
15    7977181.0
16    7974702.0
17    7969486.0
18    7984093.0
19    1324402.0
20    7851977.0
21     680260.0
22     654956.0
23    7971923.0
24    1123322.0
25     958632.0
26    1940004.0
27    7932646.0
28    7988522.0
29     397505.0
...         ...
2470  7990121.0
2471  7995910.0
2472  4753252.0
2473  1699566.0
2474  3533301.0
2475  7955946.0
2476  3841545.0
2477  3445105.0
2478   385331.0
2479  1818775.0
2480  3835205.0
2481   887712.0
2482  7992634.0
2483  4436334.0
2484  1376365.0
2485  7990388.0
2486  7992049.0
2487  7984945.0
2488  7955780.0
2489  4240874.0
2490  1935478.0
2491  7928434.0
2492  1236990.0
2493   175469.0
2494  7984009.0
2495  7951390.0
2496   121068.0
2497  7970563.0
2498  8009312.0
2499    57665.0

[2500 rows x 1 columns]

In [ ]:
%%spark -s ad -c sql -o localvar 
CREATE EXTERNAL TABLE chuy_blocks_hive (
difficulty int,
extraData string,
gasLimit int, 
gasUsed double, 
hash string, 
logsBloom string, 
miner string, 
mixHash string, 
nonce string, 
number string, 
parentHash string, 
receiptsRoot string, 
sha3Uncles string, 
size int, 
stateRoot string, 
timestampy int, 
totalDifficulty int, 
transactions array<string>, 
transactionsRoot string, 
uncles array<string> 
) 
STORED AS PARQUET
LOCATION '/user/testuser/all_blocks_parquet'

In [ ]:
%%spark -s ad -c sql -o localvar 
show tables

In [ ]:
%%spark -s ad -c sql -o localvar 
select * from chuy_blocks_hive

# thekat v2

In [48]:
%%spark -s meow
df = spark.loadFromMapRDB("/user/testuser/all_blocks")
df.createOrReplaceTempView("all_blocks_view")
df.count()
#df.printSchema()
#sqlDF = spark.sql("SELECT * from all_blocks_view")
#sqlDF.show()

<console>:25: error: not found: value df
val $ires6 = df
             ^
<console>:23: error: not found: value df
       df = spark.loadFromMapRDB("/user/testuser/all_blocks")
       ^

In [7]:
%%spark -s sess -c sql -o localvar
create table all_blocks_sparkie as select * from all_blocks_view

Empty DataFrame
Columns: []
Index: []

In [42]:
%%spark -s sess -c sql -o localvar

select count(*) from all_blocks_sparkie

An error was encountered:
Invalid status code '404' from http://172.16.9.42:8998/sessions/0 with error payload: "Session '0' not found."

In [41]:
%%spark
df = spark.loadFromMapRDB("/user/testuser/all_txs")
df.createOrReplaceTempView("all_txs_view2")
sqlDF = spark.sql("SELECT * from all_txs_view2")
df.write.parquet("/user/testuser/all_parquet_x")

In [14]:
%%spark

NameError: name 'df' is not defined

In [ ]:
%manage_spark

In [ ]:
%%spark
sc.version